*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: cadetblue; 
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.title{
  padding: 60px;
  letter-spacing: 2px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 3rem;
}
.renderedQuoteCard{
  margin:60px;
}
.quoteauthor{
  margin:20px;
  padding:15px;
  height:150px;
  width: 600px;
  display: flex;
  flex-direction: column;
justify-content: space-around;
  border:3px solid grey;
  color: aliceblue;
  font-size: 1.2rem;

}
.SearchBarandQuoteComp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.author{
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.searchBar{
  height:60px;
  width:300px;
  border-radius: 30px;
  border-color: 4px solid black;
  padding-left: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: antiquewhite;
}
.paginationButtons{
  width:80%;
  height:40px;
  list-style: none;
  display:flex;
  justify-content: center;
  margin-top: 100px;

}
.paginationButtons a {
  padding:10px;
  margin:5px;
  border-radius: 5px;
  border: 2px solid aliceblue;
  color:aliceblue;
  cursor: pointer;
}
.paginationButtons a:hover{
  color: #000;
  background-color: aliceblue;
}
.paginationActive a {
   color:white;
   background-color: green;
}